/* src/pages/RegisterPage/RegisterPage.css */

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ea3c3c; /* Mesmo fundo vermelho */
}

.register-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-form-group {
    margin-bottom: 15px;
}

.register-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.register-button:active {
    background-color: #004494;
    transform: scale(1);
}
