.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ea3c3c;
}

.register-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.register-link:active {
    background-color: #004494;
    transform: scale(1);
}